<LinkTo class="{{this.repo}}" @route='repo' @model='1'>
    <div class="{{this.imageArea}}">
        <Atoms::Awatar::Awatar />
    </div>
    <div class="{{this.repoInfoArea}}">
        <Atoms::Paragraphs::Header />
    </div>
</LinkTo>